<!DOCTYPE html>
<html>
    <head>
        <title>
            Clinicon | The online clinic
        </title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="main">
            <div class="secondary">
                <div class="logo">
                    <img src="https://i.imgur.com/1fKng65.jpg" title="source: imgur.com"/>
                </div>
                <div class="links-home">
                    <a href="/members">Marcar Consultas</a>
                    <a href="/cooperators">Agendadas</a>
                </div>
            </div>
        </div>
    </body>
</html>